extends extends/layout.pug

block html
	- var meta_title = 'Events'

block content
	.screen#index-intro
		#index-intro--content
			h1 Робономика 2019

			section
				p Собираем команду, планируем экспедицию в 2020. Присоединяйтесь к нам в последние выходные лета.

				form
					p: input.container-full(type="text", placeholder="Кодовая фраза", value="Абракадабра", disabled)
			
			p Если загрузка не началась автоматически, скачайте 
				a.t-label--blue.m-r-10(href="#") файлик
				| с инструкциями о том, как нас найти.
