extends extends/layout.pug

block html
	- var meta_title = 'Events'

block content
	.screen#index-intro
		#index-intro--content
			h1 Робономика 2019
			p для своих

			section
				p Присоединяйтесь к нам в последние выходные лета.

				<noscript>Сначала включите javascript</noscript>